.projects-container {
  padding-top: 175px;
}

.project-image-container {
  object-fit: cover;
  max-height: 200px;
}

.pagination-btn-width {
  width: 125px;
}

.pagination-margin-left {
  margin-left: 0.7rem;
}

.projects-status-list {
  padding-left: 8px;
}

.pagination {
  width: 100%;
  justify-content: space-between;
  margin-left: .5em;
  padding: 4px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pagination li a {
  cursor: pointer;
}

.pagination .disabled {
  opacity: .4;
  & a:hover {
    opacity: .4;
    cursor: not-allowed;
  }
}

.previous, .next {
  &:hover {
    opacity: .85;
  }
  & a {
    color: #fff;
    background-color: #00627E;
    width: 100px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: #00627E;
    }
  }
}

.pagination .active {
  border-bottom: 3px solid #8CD1E7;
  & a {
    font-family: Museo;
    cursor: default;
    color: #8CD1E7;
  }
}