
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #00627c;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e84934;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #8cd1e7;
$white: #ffffff;

$light: #f0f4f6;

// Input Group
$input-group-addon-color: $white;
$input-group-addon-bg: $blue;
$input-group-addon-border-color: $blue;

// Buttons
$btn-border-radius: 0;

// Container width
$container-max-widths: (
        sm: 640px,
        md: 820px,
        lg: 1160px,
        xl: 1540px
) !default;