// Fonts
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

@font-face {
  font-family: Museo;
  src: url('/fonts/Museo-500.woff2');
}

// Variables
@import 'variables';

// Components
@import 'components/text';
@import 'components/box';

// Pages
@import 'projects';
@import 'project';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  z-index: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.nav-search {
  width: 300px;
  float: right;
  margin: 0;
}

.nav-search-col {
  margin-right: -15px;
}

.cursor-pointer {
  cursor: pointer;
}

.projects-filters-mobile {
  display: none;
  width: 100%;
}

@media (max-width: 600px) {
  .navbar {
    margin: 0;
    padding: 0;
  }
  .navbar-brand {
    text-align: center;
    display: block;
  }
  .nav-search {
    width: 100vw;
    float: none;
    padding: 15px 20px 5px 20px;
  }
  .pagination li {
    &:not(.next) {
      &:not(.previous) {
        display: none;
      }
    }
  }
}

@media (max-width: 920px) {
  .col {
    padding: 0;
  }
  .container {
    min-width: unset;
  }
  .project-read-more {
    padding: 0 !important;
  }
  .projects-status-list {
    margin-top: 50px;
  }
  .projects-list {
    padding: 0 25px 0 0;
  }
  .projects-filters {
    margin: 0 !important;
    display: none;
  }
  .projects-filters-mobile {
    display: inline-block !important;
  }
}

@media (max-width: 1200px) {
  .project-read-more {
    padding: 0 !important;
  }
}
