h1, h2, h3, h4, h5, h6 {
    font-family: Museo;
    font-weight: 500;
}

h1 {
    font-size: 43px;
    line-height: 56px;
}

h2 {
    font-size: 22px;
    line-height: 24px;
}

p {
    font-size: 14px;
}
