:root {
  --primary: #e84934;
  --primary-dark: #e84934;
  --primary-70: #e84934;
  --primary-50: #e84934;
  --primary-30: #e84934;
  --primary-10: #e84934;
  --logo: #e84934;
  --sidebar-icon: #00627c;
}

.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e84934),
    to(#e84934)
  );

  background-image: linear-gradient(0deg, #e84934, #e84934);
}
